<div class="container mt-4">
  <div class="row mt-5">
    <div class="col">
      <h2>ジャンル一覧・追加</h2>
        <div class="row">
          <div class="col">


          </div>
        </div>
    </div>
  </div>
</div>