<div class="container mt-5">
 <div class="row">
  <div class="col-4">
   <p>q</p>
  </div>
  <div class="bg-dark text-white">
   <div class="co-8">
	  <p>ようこそ、ながのCAKEへ！</br>
	   このサイトは、ケーキ販売のECサイトになります。</br>
	   会員でない方も商品の閲覧はできますが、</br>
	   購入には会員登録が必要になります。
	  </p>
	 </div>
  </div>
 </div>
  <div class="offset-3 col-8">
   <h2>新着商品</h2>
  </div>
</div>
