<%#= render %>
<h2>ショッピングカート</h2>
  <%= link_to cart_item_path(@cart_items), method: :delete, class: "btn btn-danger" do %>
    <p>カートを空にする</p>
  <% end %>
      <table>
        <th>
          <td>商品名</td>
          <td>単価（税込）</td>
          <td>数量</td>
          <td>小計</td>
          <td></td>
        </th>
          <tr>
            <td>（商品名）</td>
            <td>（単価）</td>
            <td>（数量）</td>
            <td>（小計）</td>
            <td>（『削除する』ボタン）</td>
          </tr>
      </table>

          <%= link_to items_path, class: "btn btn-primary" do  %>
            <span>買い物を続ける</span>
          <% end %>

        <table>
          <tr>
            <td>合計金額</td>
            <td>(合計金額)</td>
          </tr>
        </table>

        <%= link_to orders_path, method: :get, class: "btn btn-success" do %>
          <p>情報入力画面に進む</p>
        <% end %>






