@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


h2 {
  background-color: #eaeaea;
}

h4 {
  background-color: #eaeaea;
}


.link {
    text-decoration: none;
    color: #777;
}

// .background {
// background-image: image-url('haikei_image.jpg');
// }