<div class="container mt-4">
  <div class="col-5">
   <h2 style="background-color: #e5e5e5;">注文情報確認</h2>
  </div>
  <div class="row mt-3">
   <div class="col-12">
     <h3><strong>支払い方法</strong></h3>
     <p><%= @order. %></p>
     
  