<div class="container">
  <div class="col-6 ml-5 my-4">
    <h2>注文履歴詳細</h2>
      </div>
      
    <div class="row">
      <div class="col-6 ml-5 my-4">
        <h5><strong>注文情報</strong></h5>
          <table class="table table-bordered">
            
          </table>
      </div>
    </div>
</div>